<!DOCTYPE html>
<html class="login-pf">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noindex, nofollow">

            <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
            <meta name="HandheldFriendly" content="true"/>
    <title>Sign in to 诸葛神码</title>
    <link rel="icon" href="/resources/iodim/login/phone/img/favicon.ico" />
            <link href="/resources/iodim/common/keycloak/web_modules/@patternfly/react-core/dist/styles/base.css" rel="stylesheet" />
            <link href="/resources/iodim/common/keycloak/web_modules/@patternfly/react-core/dist/styles/app.css" rel="stylesheet" />
            <link href="/resources/iodim/common/keycloak/node_modules/patternfly/dist/css/patternfly.min.css" rel="stylesheet" />
            <link href="/resources/iodim/common/keycloak/node_modules/patternfly/dist/css/patternfly-additions.min.css" rel="stylesheet" />
            <link href="/resources/iodim/common/keycloak/lib/pficon/pficon.css" rel="stylesheet" />
            <link href="/resources/iodim/login/phone/css/login.css" rel="stylesheet" />
</head>

<body class="">
<div class="login-pf-page">
    <div id="kc-header" class="login-pf-page-header">
        <div id="kc-header-wrapper"
             class="">诸葛神码</div>
    </div>
    <div class="card-pf">
        <header class="login-pf-header">
                <h1 id="kc-page-title">        Sign in to your account

</h1>
      </header>
      <div id="kc-content">
        <div id="kc-content-wrapper">




            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <style>
                [v-cloak] > * {
                    display: none;
                }

                [v-cloak]::before {
                    content: "loading...";
                }
            </style>


        <div id="vue-app">
            <div v-cloak>

                    <form id="kc-form-login" onsubmit="login.disabled = true; return true;" action="https://zgsm.sangfor.com/realms/gw/login-actions/authenticate?session_code=Vf1jYkmWnEf0WZ6sbkYjiG4psINH6ncWkkYUs7Nval0&amp;execution=5eba16b6-ebb4-448b-a0da-10bc15fc3539&amp;client_id=vscode&amp;tab_id=_JbtypoIoXs" method="post">

                            <div class="form-horizontal">
                                <div class="alert-error pf-c-alert pf-m-inline pf-m-danger" v-show="errorMessage">
                                    <div class="pf-c-alert__icon">
                                        <span class="fa fa-fw fa-exclamation-circle"></span>
                                    </div>

                                    <span class="pf-c-alert__title kc-feedback-text">{{ errorMessage }}</span>
                                </div>
                            </div>

                            <input type="hidden" id="phoneActivated" name="phoneActivated" v-model="phoneActivated">

                            <div v-if="phoneActivated">
                                <div class="form-group">
                                    <label for="phoneNumber" class="pf-c-form__label pf-c-form__label-text">Phone number</label>
                                    <input tabindex="0" type="text" id="phoneNumber" name="phoneNumber" v-model="phoneNumber"
                                           aria-invalid=""
                                           class="pf-c-form-control" autofocus/>
                                </div>

                                <div class="form-group row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  style="padding: 0">
                                        <label for="code" class="pf-c-form__label pf-c-form__label-text">Verification code</label>
                                    </div>
                                    <div class="col-xs-8" style="padding: 0 5px 0 0">
                                        <input tabindex="0" type="text" id="code" name="code"
                                               aria-invalid=""
                                               class="pf-c-form-control" autocomplete="off"/>

                                    </div>
                                    <div class="col-xs-4" style="padding: 0 0 0 5px">
                                        <input tabindex="0" style="height: 36px"
                                               class="pf-c-button pf-m-primary pf-m-block btn-lg"
                                               type="button" v-model="sendButtonText" :disabled='sendButtonText !== initSendButtonText' v-on:click="sendVerificationCode()"/>
                                    </div>
                                </div>
                            </div>


                        <div id="kc-form-buttons" class="form-group">
                            <input type="hidden" id="id-hidden-input" name="credentialId" />
                            <input tabindex="0" class="pf-c-button pf-m-primary pf-m-block btn-lg" name="login" id="kc-login" type="submit" value="Sign In"/>
                        </div>

                    </form>
            </div>
        </div>

            <script type="text/javascript">

                function req(phoneNumber) {
                    const params = {params: {phoneNumber}}
                    axios.get(window.location.origin + '/realms/gw/sms/authentication-code', params)
                        .then(res => app.disableSend(res.data.expires_in))
                        .catch(e => app.errorMessage = e.response.data.error);
                }

                var app = new Vue({
                    el: '#vue-app',
                    data: {
                        errorMessage: '',
                        freezeSendCodeSeconds: 0,
                        phoneActivated: true,
                        phoneNumber: '',
                        sendButtonText: 'Send code',
                        initSendButtonText: 'Send code',
                        disableSend: function(seconds) {
                            if (seconds <= 0) {
                                app.sendButtonText = app.initSendButtonText;
                            } else {
                                const minutes = Math.floor(seconds / 60) + '';
                                const seconds_ = seconds % 60 + '';
                                app.sendButtonText = String(minutes.padStart(2, '0') + ":" + seconds_.padStart(2, '0'));
                                setTimeout(function () {
                                    app.disableSend(seconds - 1);
                                }, 1000);
                            }
                        },
                        sendVerificationCode: function() {

                            const phoneNumber = document.getElementById('phoneNumber').value.trim();
                            if (!phoneNumber) {
                                this.errorMessage = 'Phone number is required.';
                                document.getElementById('phoneNumber').focus();
                                return;
                            }
                            if (this.sendButtonText !== this.initSendButtonText) {
                                return;
                            }
                            req(phoneNumber);

                        }
                    }
                });
            </script>






        </div>
      </div>

    </div>
  </div>
</body>
</html>
